
<nav class="top-bar" data-topbar role="navigation">
  <div class="container">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Notre Dame Class Search</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
       <li class="has-form">
         <div class="row collapse">
           <div class="large-8 small-9 columns">
             <input v-model="searchText" type="text" placeholder="Filter names or departments">
           </div>
           <div class="large-4 small-3 columns">
             <a href="#" class="alert button expand">Search</a>
           </div>
         </div>
       </li>

    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a class="active link-item" href="#">COURSES</a></li>
    </ul>
  </section>
  </div>
</nav>


 <div class="row">
  <h3>Class Search</h3>
   <div class="app-container">
     <div class="large-4 columns department-container">
      <ul class="common-list dept-list">
        <li v-transition class="dept-item" v-repeat="departments | filterBy searchText">
          <span class="dept-text">{{tag}}</span> <br>
          <a class="dept-link" href="#" v-on="click: loadCourses(this)" value="{{tag}}">{{name}}</a>
        </li>
      </ul>
     </div>

     <div class="large-4 columns animated fadeInLeft course-container">
        <h5 v-show="courses.length == 0">
          There are no courses to be shown, please select another department.
        </h5>

       <ul v-transition class="common-list course-list">
         <li class="course-item" v-repeat="courses | filterBy searchText">
            <span class="course-number">{{ course_num }}</span> <br>
            <a class="course-link" v-on="click: loadSections(this)" href="#" value="{{course_num}}">
            {{title}}</a> <span class="label round section-label" style="float: right;">{{sections_count}}</span>
         </li>
       </ul>
     </div>

     <div class="animated fadeInLeft large-4 columns section-container">

        <div class="row description-section">
          <h4>{{selected_course.title}} ({{selected_course.credits}})</h4>
          <p>{{selected_course_description}}</p>

        </div>
        <div class="row sections-area">
          <h5>Course Sections</h5>
          <ul class="common-list section-list">
            <li class="section-item" v-repeat="sections | orderBy 'section_num'">
              <div class="details">
                <span class="details-text">Section {{section_num}} &middot; {{days_of_week}} {{start_time | timeFormat }} - {{end_time | timeFormat}} </span>  <br>

                <span class="details-text">{{professor.first_name}} {{professor.last_name}} &middot; {{location}}</span>
              </div>



            <div class="seats-bar progress small-4 alert round">
              <span class="meter" style="width: {{((max_seats - open_seats) / max_seats) * 100}}%"></span> <span class="seats-text"><span class="seats-numbers">{{open_seats}} / {{max_seats}}</span> seats left </span>
            </div>

            </li>
          </ul>
        </div>
     </div>
   </div>
 </div>

<div class="row">
<p class="small-caps footer-text">developed and designed with &hearts; by <a href="http://iheanyi.com">iheanyi ekechukwu</a></p>
</div>
