<div  class="large-4 columns animated fadeInLeftBig course-container" id="courses-section">

{{!-- <h1>Courses</h1>
 --}}  {{view Ember.TextField value=search placeholder="Filter courses" class="search"}}
  <ul class="common-list course-list">
  {{#each course in courses}}
    {{view App.CourseItemView course=course}}
  {{/each}}
  </ul>
</div>

{{outlet}}