<div  class="small-4 columns animated fadeInLeftBig course-container" id="courses-section">
  {{view Ember.TextField value=search placeholder="Search or filter courses by title or course number" class="search"}}

  {{#unless courses.length}}
    <span>Please search for a specific course by title or number.</span>
  {{/unless}}
  <ul class="common-list course-list">
  {{#each course in courses}}
    {{view App.CourseItemView course=course}}
  {{/each}}
  </ul>
</div>

{{outlet}}