<nav class="top-bar" data-topbar role="navigation">
  <div class="container">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Notre Dame Class Search</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    </ul>
    <!-- Left Nav Section -->
    <ul class="left">
      <li><a class="active link-item" href="#">COURSES</a></li>
    </ul>
  </section>
  </div>
</nav>

<div id="main" class="row app">
<div class="row">
  <span class="filter-view">Filter By:
    <ul class="view-list filter">
      {{link-to 'Departments' 'departments' tagName="li"}}
      {{link-to 'Professors' 'professors' tagName="li"}}
      <li>Attributes</li>
    </ul>
  </span>
</div>
  <div class="app-container">
  {{outlet}}
  </div>
</div>

<footer></footer>
