<div class="large-4 columns attr-container" id="departments-section">
  <h1>Attributes</h1>
  {{view Ember.TextField value=search placeholder="Filter attributes" class="search"}}
  <ul class="common-list attr-list">
    {{#each attribute in controller}}
      {{#link-to 'attribute.courses' attribute tagName="li" class="attr-link"}}
        <span class="attr-text">{{attribute.tag}}</span> <br>

        <span class="attr-link-text">{{attribute.name}}</span>
      {{/link-to}}
    {{/each}}
  </ul>
</div>

{{outlet}}