{{#link-to model_link course tagName="li" class="course-link"}}
      <span class="course-number">{{course.courseNum}} ({{course.creditsValue}})</span> <br/>
        <span class="course-link-text">{{course.title}}</span>

        <span class="label alert round section-label" style="float:right;">{{course.sectionsCount}}</span>
{{/link-to}}