{{#link-to 'department.courses' department tagName="li" class="dept-link"}}
  <span class="dept-text">{{department.tag}}</span> <br>

  <span class="dept-link-text">{{department.name}}</span>
{{/link-to}}