<div class="large-4 columns department-container" id="departments-section">
  <h1>Departments</h1>
  <ul class="common-list dept-list">
    {{#each department in controller}}
      <li>  {{department.tag}} {{#link-to 'department' department}}{{department.name}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

{{outlet}}