<div class="small-4 columns department-container animated fadeInLeftBig" id="departments-section">
{{!--   <h1>Departments</h1>
 --}}  {{view Ember.TextField value=search placeholder="Filter departments" class="search"}}
  <ul class="common-list dept-list">
    {{#link-to 'courses' tagName="li" class="dept-link"}}
        <span class="dept-text">ALL</span> <br>

        <span class="dept-link-text">All Courses</span>
    {{/link-to}}

    {{#each department in departments}}
    {{view App.DepartmentItemView department=department}}

    {{/each}}
  </ul>
</div>

{{outlet}}