// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$row-width: rem-calc(1200);
$highlight-color: #476579;
$small-caps-color: #163850;

.fc-day-grid {
  margin: 0;
}

.agenda-list {
  text-align: left;
}

.fc-widget-content {
  margin: 0;
}

.app {
  padding-top: 12px;
}

.loading-container {
  background-color: #fff;
}
.app-container {
  height: 550px;
  overflow: hidden;
  border: 1px dotted #a5a5a5;
  background-color: #e5e5e5;
  margin-top: 12px;
}

.load-container {
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #fff;
}

.small-caps {
  font-variant: small-caps;
}

.loading {
/*
  display: table-cell;
  vertical-align: center;
  text-align: center; */

  z-index: 100;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.search {
  margin: 0 4px;
  padding: 4px;
}
.common-list {
  margin: 0;
  padding: 0;
  position: relative;
}

.fancy-link {
  border-bottom: 1px dotted;
}
.department-container, .attr-container {
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.animated {
   -webkit-animation-duration: 0.5s;
   animation-duration: 0.5s;
}

a.small-caps {
  font-variant: small-caps;
  //border-bottom: 1px dotted;
}

.course-container {
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  //display: none;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.section-container {
  height: 100%;
  //overflow-y: scroll;
  background:#fff;
  //display: none;
  z-index: 3;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.common-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dept-item, .course-item, .prof-item, .attr-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #e5e5e5;
  //padding: 4px;
  //padding-left: 12px;
  //padding-right: 12px;

  width: 100%;
  cursor: pointer;


}

.dept-filter, .prof-filter {
  padding: 0;
  margin: 0;
  position: relative;
  &::after, &::before  {
    padding: 0;
    margin: 0;
  }
}

.dept-filter-area {
  width: inherit;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  &::after, &::before  {
    padding: 0;
    margin: 0;
  }
}
.dept-item:first-child {
}

.section-label {
  text-align: center;
}

a.link-item {
  font-size: 30px;
}

.footer-text {
  font-variant: small-caps;
  margin-top: 18px;
}
.dept-link, .course-link, .prof-link, .attr-link {
  display: inline-block;
  padding: 8px;
  //padding-left: 0;

  //padding: 0;
  //padding-bottom: 0;
  margin: 0;
}

.course-numbers {
  font-variant: small-caps;
}

.description-section {
  border-bottom: 2px #e5e5e5 dashed;
}

.description-section {
  height: 50%;
  overflow-y: scroll;
  //max-height: 50%;
  padding: 12px;
}
.sections-area  {
  overflow-y:scroll;
  height: 50%;
  //min-height: 50%;
  padding: 12px;
}
.section-item {
  height: auto;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.seats-bar {
  display: inline-block;
}

.seats-text, .prof-text {
  font-variant: small-caps;
  font-weight: 700;
}

.course-number {
  font-weight: 300;
  font-size: 12px;
  font-weight: 700;
}

.dept-text, .attr-text {
  font-size: 12px;
  font-weight: 700;
}

.dept-active, .course-active, .prof-active, .attr-active {
  background-color: #1F2D3C;
  z-index: 5;

  span {
    color: #fff;
  }
  a {
    color: #fff;

  }
}
.seats-numbers {
  font-size: 12px;
}

.meter {
  z-index: 5;
}

.details-text {
  font-size: 14px;
}

/* .loading {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
} */

.view-list {
  background-color: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

.view-list {
  li {
    cursor: pointer;
    color: $highlight-color;
    //border-bottom: 1px dotted #000;
    padding: 6px;
    &.active {
      background-color: #163850;
      color: #fff;
      //border-bottom: 1px dotted #163850;
      //font-weight: 700;
      //color: $highlight-color;
    }

    &:hover {
      background-color: #163850;
      color: #fff;
    }
  }
}
/* .filter {
  .active {
    background: black;
  }
} */

.dept-text, .course-number, .attr-text {
  color: #163850;
}

.agenda-container {
  height: 100%;
  background-color: #fff;
  //overflow-y: scroll;
}

.ag-component {
  height: 100%;
}

.ag-course-container {
  background-color: #c5c5c5;
  height: 100%;
  //color: #ffffff;
  //position: fixed;
  overflow-y: none;
  //float: right;
  text-align: center;
  h4 {
    color: #000;
  }
}

.fc-container {
  height: 100%;
  overflow-y: scroll;
  //overflow-y: scroll;
}

.fc-toolbar {
  margin: 0 !important;
  display: none;
}

.fc-time-grid-event .fc-bg {
  background: none;
}
.search-container {
  height: 100%;
}

.dept-list, .course-list, .prof-list, .attr-list {
  .active {
    color: #fff;
    background: $highlight-color;
  }
}

.dept-link-text, .course-link-text, .prof-link-text, .attr-link-text {
  font-weight: 300;
}
.dept-item, .course-item {
  width: 100%;
  padding: 8px;
}

.dept-link, .course-link, .prof-link, .attr-link {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px dashed #e5e5e5;
  padding: 8px;

  &:hover {
    background: $highlight-color;
    color: #fff;
  }
}

#calendar {
  z-index: 50;
  height: 100%;
  width: 100%;
}