// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$row-width: rem-calc(1200);
$highlight-color: #476579;
$small-caps-color: #163850;

.app {
  padding-top: 20px;
}

.app-container {
  height: 550px;
  overflow: hidden;
  border: 1px dashed #f5f5f5;
  background-color: #e5e5e5;
  margin-top: 12px;
}
.common-list {
  margin: 0;
  padding: 0;
  position: relative;

}

.department-container {
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  z-index: 5;
  padding: 0;
  margin: 0;
}

.animated {
   -webkit-animation-duration: 0.5s;
   animation-duration: 0.5s;
}

a.small-caps {
  font-variant: small-caps;
  border-bottom: 1px dotted;
}

.course-container {
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  //display: none;
  padding: 0;
  margin: 0;
  z-index: 4;
}

.section-container {
  height: 100%;
  //overflow-y: scroll;
  background:#fff;
  //display: none;
  z-index: 3;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.common-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dept-item, .course-item, .prof-item {
  margin: 0;
  padding: 0;
  border-bottom: 1px dashed #e5e5e5;
  //padding: 4px;
  //padding-left: 12px;
  //padding-right: 12px;

  width: 100%;
  cursor: pointer;


}

.dept-filter, .prof-filter {
  padding: 0;
  margin: 0;
  position: relative;
  &::after, &::before  {
    padding: 0;
    margin: 0;
  }
}

.dept-filter-area {
  width: inherit;
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  &::after, &::before  {
    padding: 0;
    margin: 0;
  }
}
.dept-item:first-child {
}

.section-label {
  text-align: center;
}

.link-item {
  text-transform: uppercase;
}

.footer-text {
  font-variant: small-caps;
  margin-top: 18px;
}
.dept-link, .course-link, .prof-link {
  display: inline-block;
  padding: 8px;
  //padding-left: 0;

  //padding: 0;
  //padding-bottom: 0;
  margin: 0;
}

.course-numbers {
  font-variant: small-caps;
}

.description-section {
  border-bottom: 2px #e5e5e5 dashed;
}

.description-section, .sections-area {
  height: auto;
  overflow-y: scroll;
  max-height: 50%;
  padding: 12px;
}

.section-item {
  height: auto;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
}

.seats-bar {
  display: inline-block;
}

.seats-text, .prof-text {
  font-variant: small-caps;
  font-weight: 700;
}

.course-number {
  font-weight: 300;
  font-size: 12px;
  font-weight: 700;
}

.dept-text {
  font-size: 12px;
  font-weight: 700;
}

.dept-active, .course-active, .prof-active {
  background-color: #1F2D3C;
  z-index: 5;

  span {
    color: #fff;
  }
  a {
    color: #fff;

  }
}
.seats-numbers {
  font-size: 12px;
}

.meter {
  z-index: 5;
}

.details-text {
  font-size: 14px;
}

.loading {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.view-list {
  background-color: #fff;
  margin: 0;
  list-style: none;
  padding: 0;
  display: inline;

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
  }
}

.view-list {
  li {
    cursor: pointer;
    color: $highlight-color;
    //border-bottom: 1px dotted #000;
    padding: 6px;
    &.active {
      background-color: #163850;
      color: #fff;
      //border-bottom: 1px dotted #163850;
      //font-weight: 700;
      //color: $highlight-color;
    }

    &:hover {
      background-color: #163850;
      color: #fff;
    }
  }
}
/* .filter {
  .active {
    background: black;
  }
} */

.dept-text, .course-number {
  color: #163850;
}

.dept-list, .course-list, .prof-list {
  .active {
    color: #fff;
    background: $highlight-color;
  }
}

.dept-link-text, .course-link-text, .prof-link-text {
  font-weight: 300;
}
.dept-item, .course-item {
  width: 100%;
}

.dept-link, .course-link, .prof-link {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px dashed #e5e5e5;

  &:hover {
    background: $highlight-color;
    color: #fff;
  }
}